// 全局样式
// 分页样式
.pages {
  text-align: center;
  margin: 35px 0 46px;
}

// .pages ul{display:inline-block}
.pages li {
  margin: 0 8px;
  display: inline-block;
}

.pages li button {
  display: block;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: transparent;
  border: 1px solid @paginate-color;
  color: @paginate-color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 0 10px;
}

.pages button:hover,
.pages li button.on {
  color: #fff;
  background-color: @paginate-color;
  border: 1px solid @paginate-color;
}
